@media screen and (max-width:700px){
    header .container{
        margin: auto;    
        padding-block-end: 6px;
        
    }

    main .container{
        margin: auto;
        margin-top: 10px;
    }

    main .botao{
        margin-top: 3px;
        width: auto;
    }

@media screen and (min-width:1000px){
        .decricao{
            width: 50%;
        }
        
    }
}
@media screen and (max-width:500px){
    
    header .container{
    margin-left: auto;
    display:flex;
    flex-direction: wrap;
    }

    main .container{
        max-height: 100%;
        max-width: 100%;
        display:flex;
        flex-direction: nowrap;
    }
    
   main .botoes{
        max-height: 100%;
        max-width: 100%;
        display: flex;
        align-self: flex-end;
    }

    main .filme-principal{
        max-height: 100%;
        max-width: 100%;
    }
    main .titulo{
       font-size: 100%;
    }
    main .botao{

        margin-top: auto;
        width: auto;
        height: auto;
        
    }
    main .descricao{
        display:flex;
        align-self: flex-start;
        font-size: 100%;
    
        font-size: smaller;
    }
 
}
